<h1>Eventos patrocinados.</h1>
<p>Festival de cine de Morelia</p>
<br/>
<p>El Festival Internacional de Cine de Morelia (FICM) es un festival cinematográfico fundado en el año 2003 en la ciudad de Morelia, Michoacán, México. Tiene lugar anualmente en la segunda semana del mes de octubre.

El FICM surge de la necesidad de crear un punto de encuentro único en México entre los cineastas el público de Michoacán y la comunidad fílmica internacional. El festival tiene como finalidad establecer un foro para promover a los nuevos talentos del cine mexicano, crear estímulos y diversas oportunidades culturales para el público mexicano e internacional, así como difundir la enorme riqueza del estado de Michoacán.

El FICM ha adquirido un prestigio y consolidación notable en México dado su alcance y proyección; así mismo se está posicionando rápidamente por su peculiaridad y calidad en otras partes del mundo. El FICM es muy gustado por la crítica cinematográfica y público en general dada su selecta selección fílmica y temática variada. Así el festival consolida el potencial turístico y cultural de Morelia junto a las otras fiestas y celebraciones de Morelia que se realizan a lo largo del año. </p>